@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
}
.section-padding {
  padding: 2.5rem 2rem;
}
@media (min-width: 768px) {
  .section-padding {
    padding: 3rem 4rem;
  }
}
@media (min-width: 1024px) {
  .section-padding {
    padding: 4rem 6rem;
  }
}